---
layout: default
---
<section class="post">
  <div class="flex-row-between">
	  <a href="{{ site.url }}{{ site.baseurl }}/">« Voltar</a>
    <button title="Trocar o tema" id="theme-toggle" onclick="modeSwitcher()">
      <div></div>
    </button>
  </div>
  {% assign minute=content | number_of_words | divided_by: 265 | plus: 1 %}
  <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%b %-d, %Y" }} -  
    {% if page.minute %} {{ page.minute }} {% else %} {{ minute }} {% endif %}min de leitura</time>
  <h1 class="title">{{ page.title }}</h1>
  <span class="meta">
    {% for tag in page.tags %}
    <a href="{{ site.url }}{{ site.baseurl }}/tag/{{tag}}">{{tag}}</a>{% unless forloop.last %}, {% endunless %}{% endfor %}</span>
  <article>{{ content }}</article>
</section>

<section>

  <nav class="post-nav">
    {% if page.previous %}
    <a class="post-nav-item post-nav-prev" href="{{ page.previous | relative_url }}">
      <div class="nav-arrow">Anterior</div>
      <span class="post-title">{{ page.previous.title }}</span>
    </a>
    {% endif %} {% if page.next %}
    <a class="post-nav-item post-nav-next" href="{{ page.next | relative_url }}">
      <div class="nav-arrow">Próximo</div>
      <span class="post-title">{{ page.next.title }}</span>
    </a>
    {% endif %}

  </nav>
</section>
